article {
  max-width: 100%;
  padding: 0;
}

article > h1:first-child {
  margin-top: 0;
  margin-bottom: 6px;
}

article h1 {
  margin-top: 20px;
  margin-bottom: 8px;
}

article h2 {
  margin-top: 16px;
  margin-bottom: 6px;
}

article p {
  margin: 8px 0;
  line-height: 1.6;
}